html {
  scroll-behavior: smooth;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-size: 26px;
  text-decoration: none;
  color: rgb(217, 217, 217);
  font-family: system-ui;
}

a:hover {
  text-decoration: underline;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  flex-direction: column;
  display: flex;
  align-items: center;
}

article {
  width: 100vw;
  max-width: 1920px;
}
