:root {
  --header-bg-color: rgb(10, 10, 10);
  --red: #f33636;
  --text-color: rgb(217, 217, 217);
  --switch-bg-color: rgb(27, 27, 27);
  --footer-bg-color: rgb(21, 21, 21);
  --input-bg-color: #383838;
  --button-hover-color: #2a2a2a;
  --content-bg-color: rgba(46, 46, 46, 0.25);
  --scrollbar-thumb-color: rgba(70, 70, 70, 0.755);
  --scrollbar-thumb-hover-color: rgb(51, 51, 51);
  --scrollbar-thumb-active-color: rgb(54, 54, 54);
  --scrollbar-track-color: rgb(27, 27, 27);
  --comment-border-color: #454545;
  --comment-bg-color: rgb(20, 20, 20);
  --comment-user-bg-color: rgba(20, 20, 20, 0.4);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-size: 26px;
  text-decoration: none;
  color: var(--text-color);
  font-family: system-ui;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  flex-direction: column;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: top;
  background-image: url("../imgs/background.svg");
}

article {
  width: 100vw;
  max-width: 1920px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

body::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active-color);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.information__container {
  position: fixed;
  bottom: 18px;
  right: 10px;
  width: 500px;
  height: 150px;
  background: rgb(43, 43, 43);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px 20px 0 20px;
  padding-top: 30px;
  box-sizing: border-box;
  color: var(--text-color);
  border: 2px solid rgb(78, 78, 78);
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.information__container-disabled {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.information__close__button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--text-color);
}

.information__title {
  text-transform: uppercase;
  font-size: 23px;
  margin: 0;
}

.information__description {
  font-size: 18px;
}




@media (max-width: 650px) {
  .information__container {
    width: 100%;
    height: auto;
    bottom: 0;
    left: auto;
    right: auto;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
  }
}
