:root {
  --header-bg-color: rgb(10, 10, 10);
  --red: #f33636;
  --text-color: rgb(217, 217, 217);
  --switch-bg-color: rgb(27, 27, 27);
  --footer-bg-color: rgb(21, 21, 21);
  --input-bg-color: #383838;
  --button-hover-color: #2a2a2a;
  --content-bg-color: rgba(46, 46, 46, 0.25);
  --scrollbar-thumb-color: rgba(70, 70, 70, 0.755);
  --scrollbar-thumb-hover-color: rgb(51, 51, 51);
  --scrollbar-thumb-active-color: rgb(54, 54, 54);
  --scrollbar-track-color: rgb(27, 27, 27);
  --comment-border-color: #454545;
  --comment-bg-color: rgb(20, 20, 20);
  --comment-user-bg-color: rgba(20, 20, 20, 0.4);
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  font-size: 26px;
  text-decoration: none;
  color: var(--text-color);
  font-family: system-ui;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  flex-direction: column;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='8000' preserveAspectRatio='none' viewBox='0 0 1920 8000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1920' height='8000' x='0' y='0' fill='rgba(27%2c 27%2c 27%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c66 C 128%2c198.4 384%2c692.2 640%2c728 C 896%2c763.8 1024%2c218.2 1280%2c245 C 1536%2c271.8 1792%2c738.6 1920%2c862L1920 8000L0 8000z' fill='rgba(27%2c 27%2c 27%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c1596 C 128%2c1481.2 384%2c1060.2 640%2c1022 C 896%2c983.8 1024%2c1369.8 1280%2c1405 C 1536%2c1440.2 1792%2c1239.4 1920%2c1198L1920 8000L0 8000z' fill='rgba(24%2c 24%2c 24%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c2033 C 128%2c2087.6 384%2c2313.4 640%2c2306 C 896%2c2298.6 1024%2c1962.4 1280%2c1996 C 1536%2c2029.6 1792%2c2378.4 1920%2c2474L1920 8000L0 8000z' fill='rgba(27%2c 27%2c 27%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c3120 C 128%2c3082.2 384%2c2890.8 640%2c2931 C 896%2c2971.2 1024%2c3312.4 1280%2c3321 C 1536%2c3329.6 1792%2c3043.4 1920%2c2974L1920 8000L0 8000z' fill='rgba(25%2c 25%2c 25%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c3798 C 128%2c3847.6 384%2c4091.8 640%2c4046 C 896%2c4000.2 1024%2c3494.8 1280%2c3569 C 1536%2c3643.2 1792%2c4247.4 1920%2c4417L1920 8000L0 8000z' fill='rgba(28%2c 28%2c 28%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c4933 C 128%2c4873.8 384%2c4576.8 640%2c4637 C 896%2c4697.2 1024%2c5235.4 1280%2c5234 C 1536%2c5232.6 1792%2c4750.8 1920%2c4630L1920 8000L0 8000z' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c6010 C 128%2c5932.6 384%2c5608 640%2c5623 C 896%2c5638 1024%2c6122.2 1280%2c6085 C 1536%2c6047.8 1792%2c5566.6 1920%2c5437L1920 8000L0 8000z' fill='rgba(27%2c 27%2c 27%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c6712 C 128%2c6687.8 384%2c6548.2 640%2c6591 C 896%2c6633.8 1024%2c6940.6 1280%2c6926 C 1536%2c6911.4 1792%2c6599.6 1920%2c6518L1920 8000L0 8000z' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c7918 C 192%2c7815 576%2c7410.8 960%2c7403 C 1344%2c7395.2 1728%2c7783.8 1920%2c7879L1920 8000L0 8000z' fill='rgba(19%2c 19%2c 19%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1920' height='8000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

article {
  width: 100vw;
  max-width: 1920px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

body::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active-color);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}
