.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__title {
  font-size: 72px;
  text-align: center;
  color: var(--text-color);
  margin: 150px 0 40px 0;
}

.faq__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq__question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  background: var(--content-bg-color);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  margin: 35px;
  padding: 20px 0;
}

.faq__question__title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px;
  color: var(--text-color);
}

.faq__question__divisor {
  width: 700px;
  height: 2px;
  background: var(--text-color);
  opacity: 0.8;
}

.faq__question__answer {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: var(--text-color);
  padding: 0 50px;
}

.email {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.faq__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.faq__contact__divisor {
  width: 600px;
  height: 2px;
  background-color: var(--text-color);
  opacity: 0.35;
}

.faq__contact__text {
  display: flex;
  font-size: 22px;
  margin: 10px;
  color: var(--text-color);
}

.faq__contact__link {
  color: var(--text-color);
  font-size: 22px;
  font-weight: bold;
  margin-left: 5px;
}

.faq__contact__link:hover {
  text-decoration: underline;
}
