header {
  position: fixed;
  height: 80px;
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.751);
  z-index: 100;
}

.logo__container {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.logo {
  height: 70px;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color);
}

.nav__menu__container {
  display: none;
  cursor: pointer;
}

.nav__menu {
  color: var(--text-color);
}

.nav__elements__container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.nav__subcontainer {
  display: flex;
  align-items: center;
}

.nav__element {
  margin: 5px 25px;
  position: relative;
}

.nav__element__link::after {
  content: " ";
  left: 0px;
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--red);
  border-radius: 2px;
  transition: width 0.4s;
  margin-top: 35px;
  z-index: 200;
}

.nav__element__link:hover::after {
  width: 100%;
}

.header__nav {
  width: 100vw;
  max-width: 1920px;
}

.nav__element {
  color: var(--text-color);
}

.nav__elemet__switch {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.switch__background {
  width: 64px;
  background: var(--switch-bg-color);
  height: 32px;
  border-radius: 20px;
  border: 2px solid var(--text-color);
  display: flex;
  align-items: center;
  padding-left: 3px;
  transition: all 1s linear;
}

.switch__circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--text-color);
  background-image: url("../imgs/sun.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all 0.3s ease;
}

.switch__circle-active {
  background-image: url("../imgs/moon.svg");
  transform: translateX(27px);
}
