header {
  position: fixed;
  height: 80px;
  background-color: var(--header-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.751);
  z-index: 500;
}

.header__nav {
  width: 100vw;
  max-width: 1920px;
}

.logo__container {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.logo {
  height: 70px;
  z-index: 100;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-bg-color);
}

.nav__menu__container {
  display: none;
  cursor: pointer;
}

.nav__menu {
  color: var(--text-color);
}

.nav__menu__bars-close {
  display: none;
}

.nav__element__content__container {
  display: flex;
}

.nav__elements__container {
  display: flex;
  align-items: center;
  margin-right: 25px;

}

.nav__subcontainer {
  display: flex;
  align-items: center;
}

.nav__element {
  margin: 5px 25px;
  position: relative;
  color: var(--text-color);
}

.nav__element__link {
  display: flex;
  justify-content: center;
}

.nav__element__link::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 4px;
  background: var(--red);
  border-radius: 2px;
  transition: width 0.4s;
  margin-top: 35px;
  z-index: 200;
}

.nav__element__link:hover::after {
  width: 100%;
}


@media (max-width: 1280px) {

  .nav__element {
    margin: 10px;
  }

  .nav__element__link {
    font-size: calc(0.7em + 0.7vw);
  }

}

@media (max-width: 800px) {

  header {
    max-width: 100%;
  }

  .nav__menu__container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .nav__subcontainer {
    flex-direction: column;
    width: 100%;
  }

  .nav__container-mobile {
    position: absolute;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    background-color: var(--header-bg-color);
    bottom: calc(-100vh + 80px); /* 80px es el heigth del nav */
    left: 1000px;
    transition: left 1s ease;
  }

}