@font-face {
    font-family: "kenyan";
    src: url("/fonts/kenyan_coffee/kenyan\ coffee\ rg.otf") format("truetype");
    font-style: normal;
    font-weight: 800;
}

.aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='2500' preserveAspectRatio='none' viewBox='0 0 1440 2500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1148%26quot%3b)' fill='none'%3e%3crect width='1440' height='2500' x='0' y='0' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1095.192C210.602%2c1109.974%2c430.859%2c1059.609%2c598.487%2c931.264C760.811%2c806.981%2c793.993%2c586.363%2c895.982%2c409.181C1011.201%2c209.016%2c1287.537%2c47.499%2c1236.908%2c-177.841C1185.114%2c-408.364%2c852.699%2c-429.751%2c673.02%2c-583.175C529.03%2c-706.125%2c470.962%2c-931.908%2c289.703%2c-986.638C108.29%2c-1041.414%2c-69.545%2c-908.937%2c-253.367%2c-862.89C-446.605%2c-814.485%2c-685.222%2c-857.297%2c-818.323%2c-709.081C-951.414%2c-560.876%2c-896.306%2c-329.61%2c-910.677%2c-130.936C-923.975%2c52.904%2c-963.375%2c237.875%2c-899.324%2c410.708C-832.654%2c590.609%2c-699.492%2c734.677%2c-546.824%2c850.874C-384.678%2c974.285%2c-203.268%2c1080.925%2c0%2c1095.192' fill='%231b1b1b'%3e%3c/path%3e%3cpath d='M1440 3368.263C1604.05 3349.303 1763.9479999999999 3309.502 1901.6680000000001 3218.37 2038.1509999999998 3128.057 2130.6639999999998 2993.982 2216.341 2854.543 2312.7309999999998 2697.669 2458.7380000000003 2539.531 2430.576 2357.577 2402.42 2175.6639999999998 2216.076 2068.38 2076.149 1948.774 1954.696 1844.9589999999998 1822.324 1763.912 1672.167 1709.3110000000001 1513.319 1651.55 1339.416 1560.453 1182.758 1623.9160000000002 1026.501 1687.216 1011.624 1906.333 892.161 2025.295 758.194 2158.7 509.99300000000005 2179.089 446.43600000000004 2357.147 383.3689999999999 2533.831 503.38199999999995 2721.51 583.017 2891.371 661.962 3059.759 741.739 3243.216 904.247 3333.648 1063.855 3422.466 1258.552 3389.234 1440 3368.263' fill='%23272727'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1148'%3e%3crect width='1440' height='2500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.aboutUs__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutUs__element {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 100px;
    box-sizing: border-box;
}

#vision {
    justify-content: flex-end;
}

#values {
    justify-content: center;
}

.aboutUs__content {
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 500px;
}

.aboutUs__content__title {
    color: rgba(217, 217, 217, 0.205);
    font-size: 200px;
    font-family: "kenyan", sans-serif;
    margin: 0;
    text-transform: uppercase;
}

.aboutUs__content__container {
    display: flex;
    border: #f33636 solid 6px;
    border-radius: 8px;
    margin-top: -0px;
}

.aboutUs__content__description,
.values__content__description {
    font-size: 30px;
    max-width: 700px;
    padding: 40px;
    margin: 0px;
    color: aliceblue;
    backdrop-filter: blur(20px);
}

.values__content__description {
    padding: 10px 40px;
}

.values__content {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    padding: 20px;
    backdrop-filter: blur(20px);
}

.values__title {
    font-weight: bold;
    line-height: 50px;
    margin: 0;
    color: aliceblue;
    text-decoration: underline;
}

.quoteLeft__container {
    z-index: 1;
    height: 100%;
    margin-top: -40px;
}

.quoteRight__container {
    height: 100%;
    display: flex;
    align-items: end;
}

.quoteLeft {
    margin-left: -40px;
}

.quoteRight {
    rotate: 180deg;
    margin-bottom: -20px;
    margin-left: -40px;
}

.quote {
    color: #f33636;
    position: absolute;
}

.quoteLeft__background {
    margin-left: -70px;
    margin-top: -45px;
}

.quoteRight__background {
    margin-left: -85px;
    margin-bottom: -60px;
}

.quoteLeft__background,
.quoteRight__background {
    width: 170px;
    position: absolute;
}