.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding: 50px 0px;
  padding-top: 150px;
}

.comments__title {
  font-size: 72px;
  text-align: center;
  color: var(--text-color);
  margin: 0;
}

.comments__container {
  display: flex;
  flex-direction: column;
}

.comments__subcontainer {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
}

.comments__slider {
  padding: 0 130px;
  width: 100%;
  max-width: 700px;
  height: 500px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.comment__element {
  min-width: 700px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 20px 20px;
  border: var(--comment-border-color) 3px solid;
  transform: scale(0.9);
  filter: opacity(0.5);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}

.comment__element-active {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  filter: opacity(1);
  border: var(--red) 3px solid;
}

.comment__user {
  background: var(--comment-user-bg-color);
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-radius: 30px 30px 0px 0px;
}

.comment__img__container {
  margin-left: 20px;
  display: flex;
}

.comment__img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: var(--comment-border-color) 5px solid;
}

.comment__name__container {
  margin: 20px;
}

.comment__name {
  font-size: 60px;
  margin: 0;
  color: var(--text-color);
}

.comment__from {
  margin: 0;
  font-size: 20px;
  padding: 0px 5px;
  color: var(--text-color);
  opacity: 0.7;
}

.comment__description {
  width: 100%;
  max-width: 800px;
  text-align: center;
  background-color: var(--comment-bg-color);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.comment__testimonial {
  max-width: 600px;
  font-size: 25px;
  color: var(--text-color);
  opacity: 0.8;
}

.comments__arrow__container {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0.6;
  fill: var(--text-color);
}

.comments__arrow__container-left:hover {
  transform: translateX(-10px);
}

.comments__arrow__container-right:hover {
  transform: translateX(10px);
}

.comments__arrow__container-disabled {
  opacity: 0.1;
  pointer-events: none;
}

.comments__arrowsMobile__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments__arrow__container-right-mobile,
.comments__arrow__container-left-mobile {
  display: none;
}


@media (max-width: 1280px) {

  .comments__title {
    margin-bottom: 40px;
  }

  .comments__subcontainer {
    height: auto;
    max-width: 600px;
  }
 
  .comments__slider {
    height: auto;
    max-width: 500px;
    padding: 0 100px;
  }

  .comment__element{
    min-width: 400px;
    width: 400px;
  }
    
  .comment__user {
    padding: 20px;
  }

  .comment__img__container {
    margin-left: 5px;
  }

  .comment__img {
    width: 100px;
    height: 100px;
    border: var(--comment-border-color) 4px solid;
  }

  .comment__name__container {
    margin: 10px;
  }

  .comment__name {
    font-size: 30px;
  }

  .comment__from {
    font-size: 14px;
    padding: 0;
  }

  .comment__description {
    max-width: 400px;
    border-radius: 0px 0px 20px 20px;
    padding: 15px 0px;
  }

  .comment__testimonial {
    max-width: 340px;
    font-size: 18px;
  }

  .comments__arrow__container-left,
  .comments__arrow__container-right {
    display: none;
  }

  .comments__arrow__container-right-mobile,
  .comments__arrow__container-left-mobile {
    display: flex;
    margin: 10px;
  }

  .comments__arrow__container-right-mobile:hover,
  .comments__arrow__container-left-mobile:hover {
    transform: translateX(0);
    filter: brightness(2);
  }
  
}

@media (max-width: 500px) {
  
  .comments__title {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .comments__subcontainer {
    height: auto;
    max-width: 400px;
  }

  .comments__slider {
    padding: 0 70px;
    height: auto
  }

  .comment__element{
    min-width: 260px;
    width: 260px;
    backdrop-filter: blur(0);
  }  
    
  .comment__user {
    padding: 20px;
  }

  .comment__img__container {
    margin-left: 5px;
  }

  .comment__img {
    width: 70px;
    height: 70px;
    border: var(--comment-border-color) 2px solid;
  }

  .comment__name__container {
    margin: 10px;
  }

  .comment__name {
    font-size: 20px;
  }

  .comment__from {
    font-size: 12px;
    padding: 0;
  }

  .comment__description {
    max-width: 260px;
    border-radius: 0px 0px 20px 20px;
    padding: 15px 0px;
  }

  .comment__testimonial {
    max-width: 230px;
    font-size: 16px;
  }

}
