.projects {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  padding: 100px 0px;
  z-index: 10;
}

.projects__title {
  margin: 20px;
  margin-bottom: 0;
  font-size: 72px;
  text-align: center;
  color: var(--text-color);
}

.projects__container {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 530px;
  overflow: hidden;
}

#project__img__container-1::after {
  content: url("../../imgs/html.svg") url("../../imgs/css.svg");
}

#project__img__container-2::after {
  content: url("../../imgs/html.svg") url("../../imgs/css.svg")
    url("../../imgs/js.svg");
}

#project__img__container-3::after {
  content: url("../../imgs/html.svg") url("../../imgs/css.svg")
    url("../../imgs/js.svg") url("../../imgs/php.svg")
    url("../../imgs/mySQL.svg") url("../../imgs/docker.svg");
}

#project__img__container-1::after,
#project__img__container-2::after,
#project__img__container-3::after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  max-width: 300px;
  justify-content: center;
  pointer-events: none;
}

#project__img__container-1:hover::after,
#project__img__container-2:hover::after,
#project__img__container-3:hover::after {
  opacity: 1;
}

.project__img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: filter 0.4s ease-in-out;
}

.project__img:hover {
  filter: blur(7px);
}

.project__img__container {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__content {
  color: var(--text-color);
  backdrop-filter: blur(20px);
  background-color: var(--content-bg-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.project__title {
  text-align: center;
  font-size: 35px;
  margin: 0;
}

.project__line {
  height: 2px;
  width: 100%;
  margin-top: 20px;
  background-color: var(--text-color);
  opacity: 0.4;
}

.project__description {
  font-size: 20px;
}


@media (max-width: 1280px) {

  .projects__container {
    padding: 10px;
  }

  .project {
    margin: 20px 10px;
  }
}

@media (max-width: 500px) {
  
  .projects__title {
    font-size: 45px
  }

  .project__title {
    font-size: 25px;
  }

  .project__line {
    margin-top: 10px;
  }

  .project__description {
    margin: 10px 0;
    font-size: 18px;
    hyphens: auto;
  }

  .project__link {
    font-size: 18px;
    padding: 6px 15px;
  }

  .project__img__container::after {
    scale: 0.7;
  }
}