.proyects {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  padding-block: 100px;
}

.proyects__title {
  margin: 20px;
  margin-bottom: 0;
  font-size: 72px;
  text-align: center;
  color: rgb(217, 217, 217);
}

.proyects__container {
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-top: 30px;
  flex-wrap: wrap;
}

.proyect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-width: 550px;
  min-width: 400px;
}

.proyect__img {
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.proyect__content {
  color: rgb(217, 217, 217);
  backdrop-filter: blur(20px);
  background-color: rgba(240, 248, 255, 0.075);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.proyect__title {
  text-align: center;
  font-size: 35px;
  margin: 0;
}

.proyect__description {
  font-size: 20px;
}

.proyect__line {
  height: 2px;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(144, 144, 144);
}
