@font-face {
  font-family: "zeroesTwo";
  src: url("../../fonts/ZeroesTwo.ttf") format("truetype");
  font-weight: 600;
}

.start {
  width: 100%;
  /* height: 100vh; */
  max-height: 1080px;
  display: flex;
  justify-content: center;
  background-image: url("../../imgs/fondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.start__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--text-color);
}

.start__title {
  margin: 0;
  font-size: 150px;
  font-family: zeroesTwo, Arial;
}

.start__description {
  font-size: 35px;
  margin: 0;
  text-align: center;
  max-width: 73vw;
}

.start__container {
  display: flex;
  z-index: 50;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 1920px;
  transform: translateY(-100px);
  height: 100px;
}

.start__icon__background {
  width: 1920px;
}

.start__icon__container {
  transform: translateY(-30px);
  position: absolute;
  transition: all 0.3s;
}

.start__icon__container:hover {
  transform: translateY(-20px);
}

.start__icon {
  transform: scaleX(1.4);
  color: var(--text-color);
}

@media (max-width: 1280px) {
  .start__title {
    font-size: calc(4em + 4vw);
  }

  .start__description {
    font-size: calc(0.9em + 0.9vw);
  }
}

@media (max-width: 500px) {
  .start__title {
    font-size: 14vw;
  }

  .start__description {
    margin-top: 10px;
    font-size: 20px;
  }
  .start__icon__background {
    display: none;
  }
}
