@font-face {
  font-family: "brunoAce";
  src: url("/fonts/michroma/Michroma-Regular.ttf") format("truetype");
  font-weight: 2000;
}

.start {
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  justify-content: center;
  background-image: url("../../imgs/fondo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.start__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--text-color);
}

.start__title {
  margin: 0;
  font-size: 110px;
  font-family: brunoAce, Arial;
}

.start__description {
  font-size: 35px;
  margin: 0;
  text-align: center;
}

.start__container {
  display: flex;
  z-index: 50;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  max-width: 1920px;
  transform: translateY(-100px);
  height: 100px;
}

.start__icon__background {
  width: 1920px;
}

.start__icon__container {
  transform: translateY(-30px);
  position: absolute;
  transition: all 0.3s;
}

.start__icon__container:hover {
  transform: translateY(-20px);
}

.start__icon {
  transform: scaleX(1.4);
  color: var(--text-color);
}
